head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="format-detection" content="telephone=no")
	title HELLO! Russia : Vernel - Академия свежести
	meta(name="description" content="Задумывались ли вы, как много в жизни значат ароматы? Hello! и Vernel обратились к звездным экспертам, чтобы выяснить, как парфюм влияет на настроение и образ, может ли кондиционер для белья облегчить жизнь работающей мамы и как выглядеть идеально на телеэкране. Хотите узнать больше? Выбирайте аромат на круговой карте, кликайте – и читайте интервью.")
	include ogp_main
	//Styles
	link(rel="preconnect" href="https://fonts.googleapis.com")
	link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

	//End styles
