//OGP main
// Заголовок страницы
meta(property="og:title" content="HELLO! Russia : Vernel - Академия свежести")
// Описание страницы
meta(property="og:description" content="Задумывались ли вы, как много в жизни значат ароматы? Hello! и Vernel обратились к звездным экспертам, чтобы выяснить, как парфюм влияет на настроение и образ, может ли кондиционер для белья облегчить жизнь работающей мамы и как выглядеть идеально на телеэкране. Хотите узнать больше? Выбирайте аромат на круговой карте, кликайте – и читайте интервью.")
// Название сайта
meta(property="og:site_name" content="HELLO! Russia")
// Тип ресурса по умолчанию "website"
meta(property="og:type" content="website")
//Локализация сайта
meta(property="og:locale" content="ru_RU")
//Список локализаций под другие языки, регионы
meta(property="og:locale:alternate" content="fr_FR")
meta(property="og:locale:alternate" content="es_ES")
// canonical url страницы
meta(property="og:url" content="")
// Изображение предпросмотра
meta(property="og:image" content="https://ru.hellomagazine.com/custom/vernal/images/fb_preview.png")
// Тип изображения согласно MIME
meta(property="og:image:type" content="image/png")
//Расшифровка изображения
// Альтарнативный текст изображения
meta(property="og:image:alt" content="")
// Размер изображения. Идеальный 968 х 504, подходит для вставки в любые. Используется при публикации ссылки в социальных сетях и мессенджерах при отправке собеседнику.
meta(property="og:image:width" content="968")
meta(property="og:image:height" content="504")
// Статистика FB. Вставляется id аккаунта FB для просмотра статистики сайта.
meta(property="fb:app_id" content="ID")
//End ogp main
